<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<script
			defer
			src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
		></script>

		<link rel="stylesheet" href="/css/admin.css" />
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
			rel="stylesheet"
		/>
		<title>Admin Page</title>
	</head>

	<body>
		<header>
			<%- include('./parts/navbar'); -%>			
		</header>
		
		<section class="main-content columns is-fullheight">
  			<!-- left side bar -->
			<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
				<p class="menu-label has-text-centered"><strong>Administration</strong></p>
				<ul class="menu-list">
				<li>
					User Management
					<ul>
						<li>
							<a href="#" class="has-background-primary">
							<span class="icon">
								<i class="fa fa-user"></i>
							</span>
							<span>User Info</span>
							</a>
						</li>
					</ul>
				</li>

				<li>
					View Pages
					<ul>
						<li>
							<a href="normal">
							<span class="icon is-small">
								<i class="fa fa-link"></i>
							</span>
							<span>Normal user page</span>
							</a>
						</li>
						<li>
							<a href="premium">
							<span class="icon is-small">
								<i class="fa fa-link"></i>
							</span>
							<span>Premium user page</span>
							</a>
						</li>
					</ul>
				</li>
				</ul>
			</aside>

			<!-- Main content -->
			<div class="container column is-10">
				<!-- Page heading -->
				<h1 class="has-text-centered">Users Info</h1>
				<br />
				<!-- User info cards -->
				<div id="user_list">
					<% if (elem) { %> <% elem.forEach( x => { %>
					<form id="user_info" class="card user_info">
						<div class="card">
							<div class="hero is-medium is-primary is-bold card-content">
								<div class="field">
									<label for="<%=x._id %>">ID: </label>
									<input readonly
										name="id"
										class="input is-static"
										type="text"
										id="<%=x._id %>"
										value="<%=x.id %>"
									/>
								</div>
							</div>
							<div class="card-content">
								<label for="<%=x.role%>" class="content">Role: </label>
								<input
									name="role"
									class="input is-rounded"
									type="text"
									id="<%=x.role %>"
									value="<%=x.role %>"
								/>
							</div>
							<div class="card-content">
								<label for="<%=x.name %>">Name: </label>
								<input
									name="name"
									class="input is-rounded"
									type="text"
									id="<%=x.name %>"
									value="<%=x.name %>"
								/>
							</div>
							<div class="card-content">
								<label for="<%=x.email %>">Email: </label>
								<input
									name="email"
									class="input is-rounded"
									type="text"
									id="<%=x.email %>"
									value="<%=x.email %>"
								/>
							</div>	
							<div class="card-content">
								<label for="<%=x.dietary%>">Dietary: </label>
								<input
									name="dietary"
									class="input is-rounded"
									type="text"
									id="<%=x.dietary %>"
									value="<%=x.dietary %>"
								/>
							</div>
							<div class="card-content">
								<label for="<%=x.prefer_food%>">Preference: </label>
								<input
									name="prefer"
									class="input is-rounded"
									type="text"
									id="<%=x.prefer_food %>"
									value="<%=x.prefer_food %>"
								/>
							</div>
						<!-- Buttons -->
							<div class="columns is-multiline is-centered">
								<button
									type="submit"
									class="button is-danger"
									name="delete">
									Delete account
								</button>

								<button 
									type="submit" 
									class="button is-primary" 
									name="update">
									Update account
								</button>
							</div>
							<br />
				  		</div>
					</form>
					<br />
					<% }) ; %> <% } %>
				</div>
			</div> 
		</section>

		<footer class="footer">
			<%- include('./parts/footer'); -%>
		</footer>
	</body>

	<%- include('./parts/jq'); -%>
  
	<script type="text/javascript" src="/Src/admin_ajax.js"></script>
</html>
