<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/admin-style.css" />
		<title>Admin Page</title>
	</head>

	<body>
		<div class="background">
			<img
				src="/images/background-front.jpeg"
				class="img-fluid"
				id="bg"
				alt="Responsive image"
			/>
		</div>

		<!-- Left sidebar -->
		<div id="sidebar">
			<header>
				<h3>Admin</h3>
			</header>

			<ul class="nav">
				<li>
					<a href="#">Users Info</a>
				</li>
			</ul>
		</div>

		<%- include('./parts/navbar'); -%>

		<!-- Main content -->
		<div class="content col-md-12">
			<h2>Users Info</h2>
			
				<div id="user_list">
					<% elem.forEach( x => { %>
					<form id="user_info" class="card user_info">
						<div class="card-body">
							<div class="form-group label-input">
								<label for="<%=x._id %>">ID: </label>
								<input
									readonly
									name="id"
									style="border: none;"
									class="card-field id_name"
									type="text"
									id="<%=x._id%>"
									value="<%=x.id %>"
								/>
							</div>

							<div class="form-group label-input">
								<label for="<%=x.role%>">Role: </label>
								<input
									name="role"
									class="card-field"
									type="text"
									id="<%=x.role %>"
									value="<%=x.role %>"
								/>
							</div>

							<div class="form-group label-input">
								<label for="<%=x.name %>">Name: </label>
								<input
									name="name"
									class="card-field"
									type="text"
									id="<%=x.name %>"
									value="<%=x.name %>"
								/>
							</div>

							<div class="form-group label-input">
								<label for="<%=x.email %>">Email: </label>
								<input
									name="email"
									class="card-field"
									type="text"
									id="<%=x.email %>"
									value="<%=x.email %>"
								/>
							</div>

							<div class="form-group label-input">
								<label for="<%=x.dietary%>">Dietary: </label>
								<input
									name="dietary"
									class="card-field"
									type="text"
									id="<%=x.dietary %>"
									value="<%=x.dietary %>"
								/>
							</div>

							<div class="form-group label-input">
								<label for="<%=x.prefer_food%>">Preference: </label>
								<input
									name="prefer"
									class="card-field"
									type="text"
									id="<%=x.prefer_food %>"
									value="<%=x.prefer_food %>"
								/>
							</div>

							<div class="d-flex flex-row-reverse">
								<div class="button">
									<button
										type="submit"
										class="btn btn-danger delete"
										name="delete"
									>
										Delete this account
									</button>
								</div>

								<div class="button">
									<button type="submit" class="btn btn-default" name="update">
										Update this account
									</button>
								</div>
							</div>
							<br />
						</div>
					</form>
					<br />
					<% }) ; %>
				</div>
			
		</div>

		<footer class="footer">
			<nav class="navbar footer fixed-bottom navbar-light bg-light">
				FSWD Agile Project © 2020
			</nav>
		</footer>
	</body>
	<%- include('./parts/jq'); -%>
	<script type="text/javascript" src="/Src/admin_ajax.js"></script>
</html>
