<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/admin-style.css">
  <title>Admin Page</title>

</head>

<body>
  <div class="background">
    <img src="/images/background-front.jpeg" class="img-fluid" id="bg" alt="Responsive image" />
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <h3>Admin<h3>
    </header>

    <ul class="nav">
      <li>
        <a href="#">Logo Manage</a>
      </li>
      <li>
        <a href="#">Users Info</a>
      </li>
      <li>
        <a href="#">Users Info</a>
      </li>
    </ul>
  </div>

  <%- include('./parts/navbar'); -%>
  <div class="content">SOME DATA
    <%- include('./parts/user_form'); -%>
    <div class="col-md-12">
      <ul id="user_list">

        <% elem.forEach( x => { %>
        <div class="card" style="margin-top:30px">
          <form id="user_info">
            <div class="card-body">
              <div class="form-group label-input">
                <label for=<%=x._id %>>id: </label>
                <input class="card-field" type="text" disabled id=<%=x._id %> value=<%=x.id %>>
              </div>
              <div class="form-group label-input">
                <label for=<%=x.name %>>name: </label>
                <input class="card-field" type="text" id=<%=x.name %> value=<%=x.name %>>
              </div>
              <div class="form-group label-input">
                <label for=<%=x.email %>>email: </label>
                <input class="card-field" type="text" id=<%=x.email %> value=<%=x.email %>>
              </div>
              <div class="form-group label-input">
                <label for=<%=x.password %>>password: </label>
                <input class="card-field" type="text" id=<%=x.password %> value=<%=x.password %>>
              </div>
              <!-- <input type="submit" value="Update" form="user_info"> -->
            </div>
          </form>
        </div>
        <% }) ; %>

      </ul>
    </div>
  </div>

  <footer class="footer">
    <nav class="navbar footer fixed-bottom navbar-light bg-light">
      FSWD Agile Project © 2020
    </nav>
  </footer>

  <%- include('./parts/jq'); -%>
  <script type="text/javascript" src="/Src/admin_ajax.js"></script>
</body>

</html>