<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>User info</title>
  </head>

  <body class="container col-md-6 align-self-center">
    <%- include('./parts/user_form'); -%>
    <div class="col-md-6">
      <ul id="user_list">
        <% elem.body.forEach( x => { %>
        <li>
          <div class="card" style="margin-top:30px">
            <div class="card-body">
              <h5 class="card-title">name: <%=x.name %></h5>
              <p class="card-text">food: <%=x.food %></p>
              <p class="card-text">allergies: <%=x.allergies %></p>
            </div>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
  <%- include('./parts/jq'); -%>
  <script type="text/javascript" src="/Src/user_ajax.js"></script>
</html>
