<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Basic Account</title>
		<link rel="stylesheet" href="/css/mystyles.css" />
		<script
			defer
			src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
		></script>
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="basic-body" style="height: 100vh;width: 100vw;">
		<%if (locals.info) { %><% info.meals.forEach( x => { %> <%-
		include('./parts/recipe_model',{x:x}); -%> <% }) ; %> <% } %>
		<header class="nav_header">
			<%if (locals.elem ) { %> <%- include('./parts/header',{elem:elem}); -%>
			<%}%>
		</header>
		<main class="content_page">
			<section class="level">
				<div class="container">
					<br />
					<h1 class="title" style="text-align: center; ">Meal Plan (daily)</h1>
					<form action="/api/meal_planning" method="POST">
						<div class="field has-addons  has-addons-centered">
							<div class="control">
								<input class="input" type="text" placeholder="Ex. 2000" />
							</div>
							<div class="control">
								<button class="button is-success">
									Search
								</button>
							</div>
						</div>
					</form>
				</div>
			</section>
			<section class="level"></section>

			<section class="hero is-fluid is-bold ">
				<div class="hero-body container is-fluid " style="width:80%;">
					<div class="container is-fluid ">
						<!-- Nutrient Card -->

						<div class="columns ">
							<%if (locals.info) { %>
							<div class="column ">
								<div class="container is-fluid bd-notification">
									<div class="card">
										<div class="card-content">
											<h1 class="title ">Nutrients</h1>
											<p>Total Calories : <%=info.nutrients.calories %></p>
											<p>
												Total Carbohydrates : <%=info.nutrients.carbohydrates %>
											</p>
											<p>Fat : <%=info.nutrients.fat %></p>
											<p>Protein : <%=info.nutrients.protein %></p>
										</div>
									</div>
								</div>
							</div>
							<% } %>

							<!-- Meal cards -->
							<%if (locals.info) { %><% info.meals.forEach( x => { %>
							<div class="column meal-plan-cards ">
								<div class="container is-fluid ">
									<div class="container is-fluid ">
										<div class="card-image ">
											<figure class="image is-4by3 ">
												<img
													src="https://spoonacular.com/recipeImages/<%=x.image %>"
													alt="Placeholder image "
												/>
											</figure>
											<h1 class="is-size-4 " style="text-align: center; ">
												<%=x.title %>
											</h1>
										</div>
									</div>
									<p class="is-size-6 recipe-card">
										Ready In : <%=x.readyInMinutes %> min
									</p>

									<p class="is-size-6 recipe-card">
										Servings : <%=x.servings %> people
									</p>
									<div class="buttons is-centered ">
										<form class="recipe_info">
											<input
												type="text"
												name="food_id"
												value="<%=x.id%>"
												hidden
											/>

											<button
												type="submit"
												class="button is-primary is-rounded "
												style="text-align: center; "
												id="<%=x.id%>"
											>
												View Recipe
											</button>
										</form>
									</div>
								</div>
							</div>
							<hr />
							<% }) ; %> <% } %>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer class="footer ">
			<%- include('./parts/footer'); -%>
		</footer>
	</body>
	<%- include('./parts/jq'); -%>
	<script type="text/javascript" src="/Src/premium.js"></script>
	<script type="text/javascript" src="/Src/burger.js"></script>
</html>
