<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Recipe</title>
		<link rel="stylesheet" href="/css/mystyles.css" />
		<script
			defer
			src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
		></script>
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="site">
		<header class="nav_header">
			<%if (locals.id ) { %> <%- include('./parts/premium_header',{id:id}); -%>
			<%}%>
		</header>
		<!-- Right side -->
		<main class="content_page">
			<section>
				<br />
				<div class="container ">
					<form id="spoon" action="/api/spoonacular" method="POST">
						<div class="field is-horizontal ">
							<div class="field-label is-medium ">
								<label class="label ">Ingredient: </label>
							</div>
							<div class="field-body ">
								<div class="field ">
									<div class="control is-expanded has-icons-left ">
										<input
											name="query"
											class="input "
											type="text "
											placeholder="Ex. chicken "
											autocomplete="off"
										/>
										<p class="help "></p>
									</div>
								</div>
							</div>
						</div>

						<div class="field is-horizontal ">
							<div class="field-label is-medium ">
								<label class="label ">Calorie: </label>
							</div>
							<div class="field-body ">
								<div class="field ">
									<div class="control is-expanded has-icons-left ">
										<input
											name="calorie"
											class="input "
											type="text "
											placeholder="Ex. 400 "
										/>
										<p class="help "></p>
									</div>
								</div>
							</div>
						</div>

						<div class="field is-horizontal ">
							<div class="field-label is-medium ">
								<label class="label ">Inclue Ingredient: </label>
							</div>
							<div class="field-body ">
								<div class="field ">
									<div class="control is-expanded has-icons-left ">
										<input
											name="include"
											class="input "
											type="text "
											placeholder="Ex. oninon "
										/>
										<p class="help "></p>
									</div>
								</div>
							</div>
						</div>

						<div class="field is-horizontal ">
							<div class="field-label is-medium ">
								<label class="label ">Exclue Ingredient: </label>
							</div>
							<div class="field-body ">
								<div class="field ">
									<div class="control is-expanded has-icons-left ">
										<input
											name="exclude"
											class="input "
											type="text "
											placeholder="Ex. oninon "
										/>
										<p class="help "></p>
									</div>
								</div>
							</div>
						</div>

						<div class="field is-horizontal ">
							<div class="field-label is-medium ">
								<label class="label ">Intolerances:</label>
							</div>
							<div class="field-body diet-checkbox">
								<%- include('./parts/intolerances_option'); -%>
							</div>
						</div>

						<div class="field is-horizontal ">
							<div class="field-label is-medium ">
								<label class="label ">Dietary Restriction:</label>
							</div>
							<div class="field-body diet-checkbox">
								<%- include('./parts/dietary_option'); -%>
							</div>
						</div>

						<div class="field is-horizontal ">
							<div class="field-label is-medium ">
								<label class="label ">Dish type:</label>
							</div>
							<div class="field-body diet-checkbox">
								<%- include('./parts/dish_type'); -%>
							</div>
						</div>
					</form>
				</div>

				<div class="buttons is-centered ">
					<button
						type="submit"
						class="button is-primary is-rounded "
						style="text-align: center; "
						form="spoon"
					>
						<span class="icon">
							<i class="fas fa-search"></i>
						</span>
						<span>Search</span>
					</button>
				</div>
				<br />
			</section>

			<section class="hero is-medium is-primary is-bold ">
				<div class="container ">
					<h1 class="title ">
						Results
					</h1>
				</div>
				<div class="container "></div>
			</section>

			<section class="section ">
				<div class="columns is-multiline" id="recipe_card">
					<%if (locals.msg ) { %> <% msg.forEach( x => { %>
					<div class="column is-4 ">
						<%- include('./parts/recipe_model',{x:x}); -%>
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3 ">
									<img src="<%=x.image%>" alt="Placeholder image " />
								</figure>
							</div>
							<div class="card-content ">
								<div class="media ">
									<div class="media-content ">
										<p class="title is-4 "><%=x.title%></p>
										<p class="subtitle "></p>
									</div>
								</div>
								<div class="tags ">
									<span class="tag ">
										<i class="fas fa-fire "></i><%=x.calories%>
									</span>
									<span class="tag ">
										<i class="fas fa-utensils"></i><%=x.fat%>
									</span>
								</div>
								<section class="card-body ">
									<div class="content ">
										<form class="recipe_summary">
											<input
												type="text"
												name="food_id"
												value="<%=x.id%>"
												hidden
											/>
											<button
												type="submit"
												class="button is-rounded "
												style="text-align: center; "
											>
												View Recipe summary
											</button>
										</form>
									</div>
								</section>

								Source from: <small> spoonacular </small>
							</div>

							<div class="buttons is-centered ">
								<form class="recipe_info">
									<input type="text" name="food_id" value="<%=x.id%>" hidden />

									<button
										type="submit"
										class="button is-primary is-rounded "
										style="text-align: center; "
										id="<%=x.id%>"
									>
										View Recipe
									</button>
								</form>
							</div>
							<br />
						</div>
					</div>
					<% }) ; %> <% } %>
				</div>
			</section>
		</main>

		<footer class="footer ">
			<%- include('./parts/footer'); -%>
		</footer>
	</body>
	<%- include('./parts/jq'); -%>
	<script type="text/javascript" src="/Src/burger.js"></script>
</html>
